# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
book-store-api/node_modules

.idea/
package-lock.json
book-store-api/package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage